* {
   font-family: 'Segoe UI' ; 
   color: white;
   margin: 0;
   padding: 0;
}   
body {
    background-image: url(https://img.freepik.com/premium-photo/blurred-bookshelf-many-old-books-book-shop-library_36051-477.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    backdrop-filter: blur(10px);
    display: flex;
}
/** Movil **/
@media (max-width: 599px) {
    html, body {
        min-width: 100%;
        min-height: 100vh; 
        display: flex;
    }
    #login {
        position: static;
        margin-top: 9%;
        padding: auto;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 1rem;
    }
    #logo_school {
        margin-top: 30%;
        border-radius: 50%;
        margin: 26%;
        margin-bottom: 0;
        width: 60%;
        margin-right: 20%;
        margin-left: 20%;
    }
    #images {
        width: 80%;
        position: absolute;
        margin-left: 10%;
        margin-right: 10%;
    }
    input {
        color: #ffffff;
    }   
    .caja {
        position: relative;
        overflow: hidden;
        background: none;
        border: none;
        outline: 0px;
        border-bottom: 2px solid #c7c7c7;
        width: 65%;
        height: 40px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 9%;
    }
    .caja:hover {
        border-bottom: 4px solid #ffffff; 
    }
    #botoncito {
        background-color: white;
        color: darksalmon;
        font-size: 17px;
        border-radius: 5px;
    }
    #div-icons {
        padding-left: 27%;
    }
    .icons {
        width: 20%;
    }
    #help {
        width: 50px;
        height: 50px;
        display: flex;
        float: right;
        margin-top: -170%;
    }
}
/** Tablets **/
@media (min-width: 600px) and (max-width: 1099px) {           
    html, body {
        min-width: 100%;
        min-height: 100vh; 
        display: flex;
    }
    #login {
        position: relative;
        margin-top: 15%;
        width: 190%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 1rem;
    }
    #logo_school {
        border-radius: 50%;
        margin: 7%;
        margin-bottom: 0;
        width: 100%;
        margin-right: 50%;
        margin-left: 50%;
    }
    #images {
        width: 80%;
        position: absolute;
        margin-left: 10%;
        margin-right: 10%;
    }   
    .caja {
        position: relative;
        overflow: hidden;
        background: none;
        border: none;
        outline: 0px;
        border: 5px solid #c7c7c7;
        border-radius: 5px;
        width: 60%;
        text-align: center;
        height: 70px;
        color: #ffffff;
        margin-bottom: 9%;
        font-size: 2rem;
    }
    #botoncito {
        background-color: white;
        color: darksalmon;
        font-size: 17px;
        font-size: 2rem;
    }
    #div-icons {
        padding-left: 27%;
    }
    .icons {
        width: 20%;
    }
    #help {
        width: 80px;
        height: 80px;
        display: flex;
        float: right;
        margin-top: -240%;
        margin-right: -95%;
    }
}
/** Escritorio **/
@media (min-width: 1100px) and (max-width: 1499px) {
    body {
        display: flex;
        flex: 0 0 50% 50%;
    }
    #login {
        float: right;
        margin-right: 0px;
        margin-left: 53%;
        margin-top: 15%;
        position: fixed;
    }
    .text {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0;
    }
    #school_name {
        margin-top: 0;
        font-size: 1rem;
    }
    form {
        margin-top: 15%;
    }
    .caja {
        position: relative;
        overflow: hidden;
        background: none;
        border: none;
        outline: 0px;
        border: 2px solid #c7c7c7;
        border-radius: 5px;
        width: 450px;
        text-align: center;
        height: 40px;
        color: #ffffff;
        margin-bottom: 9%;
    }
    #botoncito {
        background-color: white;
        color: darksalmon;
        font-size: 20px;
        margin-left: 5px;
    }
    #logo_school {
        margin: 5%;
        margin-top: 15%;
        width: 35%;
        border-radius: 50%;
        position: fixed;
    }
    #images {
        position: fixed;
        display: flex;
        bottom: 10%;
        justify-content: space-evenly;
        padding: 0 14%;
    }   
    .icons {
        width: 10%;
        display: inline-block;
    }
    #div-help {
        display: flex;
        bottom: 2%;
        right: 1%;
        position: fixed;
    }
    #help {
        width: 55%;
    }    
}
/** TVs **/
@media (min-width: 1500px) {
    #login {
        float: right;
        margin-right: 20%;
        margin-left: 63%;
        margin-top: 15%;
        position: fixed;
    }
    .text {
        font-size: 6rem;
        text-align: center;
        margin-bottom: 0;
    }
    #school_name {
        margin-top: 6%;
        font-size: 3rem;
    }
    form {
        margin-top: 10%;
    }
    .caja {
        position: relative;
        overflow: hidden;
        background: none;
        border: none;
        outline: 0px;
        border: 6px solid #c7c7c7;
        border-radius: 15px;
        width: 650px;
        text-align: center;
        height: 100px;
        color: #ffffff;
        margin-bottom: 9%;
    }
    #botoncito {
        background-color: white;
        color: darksalmon;
        font-size: 20px;
        margin-left: 5px;
    }
    #images {
        position: fixed;
        display: flex;
        bottom: 10%;
        justify-content: space-evenly;
        padding: 0 14%;
    }
    #logo_school {
        margin: 5%;
        top: 8%;
        width: 35%;
        border-radius: 50%;
        position: fixed;
    }
    .icons {
        width: 30%;
        display: inline-block;
    }
    #div-help {
        display: flex;
        bottom: 2%;
        right: 1%;
        position: fixed;
    }
    #help {
        width: 55%;
    }
}